@use "@/styles/colors" as c;

.modal {
  &-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  &-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 420px;
    width: 100%;
    background: c.$white;
    padding: 24px;
    border-radius: 20px;

    h2 {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 16px;

      span {
        display: inline-flex;
        align-items: center;
        width: 22px;
        height: 22px;
        background-color: c.$orange-light;
        padding: 6px;
        border-radius: 50%;
      }
    }

    button {
      float: right;
    }
  }

  &-description {
    color: c.$black-light;
    margin-bottom: 24px;
  }
}
