@use "@/styles/fonts" as f;
@use "@/styles/colors" as c;

.filter-bar {
  display: flex;
  gap: 10px;

  button {
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    padding: 8px 16px;
    border: 1px solid c.$gray;
    border-radius: 24px;
    outline: 0;
    cursor: pointer;

    &.active {
      background-color: c.$orange;
      color: c.$white;
      border-color: c.$orange;
    }
  }
}
