@use "@/styles/fonts" as f;
@use "@/styles/colors" as c;

.filter-bar {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 6px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 12px 8px 14px;
    border: 1px solid c.$gray-light;
    border-radius: 24px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: c.$orange-light;
    }

    &.active {
      background-color: c.$orange;
      color: c.$black;
      border-color: c.$orange;
      pointer-events: none;

      .count {
        background-color: c.$orange-light;
        color: c.$black;
      }
    }

    .method {
      width: max-content;
    }

    .count {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: 24px;
      height: 24px;
      background-color: c.$gray-lightest;
      border-radius: 14px;
      font-size: 12px;
      font-weight: 600;
    }
  }
}
