@use "@/styles/colors" as c;

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .ingredient-row {
    display: flex;

    align-items: center;
    gap: 14px;

    .text {
      flex: 1;
    }

    .remove-btn {
      background-color: c.$gray-lightest;
      border: none;
      width: 36px;
      height: 36px;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.2s ease-in;

      &:hover:not(:disabled) {
        background-color: c.$gray-light;
      }

      &:disabled {
        display: none; // remove
        opacity: 0.7;
        cursor: not-allowed;
      }
    }
  }

  .add-btn {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    gap: 6px;
  }
}
