@use "@/styles/fonts" as f;
@use "@/styles/colors" as c;

.nav {
  padding: 24px 0;

  .nav-inner {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 16px;
  }

  .logo {
    height: 40px;
  }

  .nav-links {
    display: flex;
    gap: 20px;
  }
}
