@use "@/styles/fonts" as f;
@use "@/styles/colors" as c;
@use "@/styles/breakpoints" as *;

.nav {
  padding: 24px 0;

  .nav-inner {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 16px;

    @include xs {
      padding-right: 20px;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    height: 40px;

    img:last-child {
      display: none;
    }

    @include xs {
      img:first-child {
        display: none;
      }
      img:last-child {
        display: block;
      }
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 24px;

    .nav-btn {
      font-weight: 500;

      &:hover {
        color: c.$black-light;
      }
    }

    @include xs {
      a:last-child {
        display: none;
      }
    }
  }
}
