@use "@/styles/fonts" as f;
@use "@/styles/colors" as c;
@use "@/styles/breakpoints" as *;

.recipe-card {
  display: block;
  border-radius: 16px;
  background: c.$white;
  padding: 10px 10px 16px;
  transition: all 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  &:hover {
    transform: translateY(-4px);
  }

  .image-wrapper {
    position: relative;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    overflow: hidden;

    @include xs {
      height: 220px;
    }
  }

  &_content {
    padding: 0 4px;

    .recipe-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0 8px;

      p {
        display: inline-flex;
        align-items: center;
        gap: 5px;
        font-size: 15px;
        margin: 0;
      }

      .difficulty {
        svg[fill="none"] {
          display: none;
        }
      }
    }

    .name {
      font-size: 20px;
    }
  }
}
