@use "@/styles/colors" as c;

.admin {
  &-page {
    padding: 24px 16px 80px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 32px;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 24px 16px 16px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    .edit-btn {
      font-size: 15px;
      padding: 10px 16px;
    }
  }

  &-thumb {
    border-radius: 12px;
  }

  &-info {
    flex: 1;

    h3 {
      font-size: 18px;
    }

    .slug {
      font-size: 14px;
      color: c.$gray;
      margin-top: 4px;
    }
  }
}
