@use "@/styles/colors" as c;
@use "@/styles/breakpoints" as *;

.admin {
  &-page {
    padding: 24px 16px 80px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;

      @include sm {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 32px;
    margin-top: 40px;

    @include sm {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 24px 16px 16px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    .edit {
      font-size: 15px;
      padding: 8px 16px;
    }

    .delete {
      width: 30px;
      height: 30px;
      position: absolute;
      top: -10px;
      right: -10px;
      background-color: #ed4337;
      border: 0;
      border-radius: 50%;
      outline: 0;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: #eb3a2d;

        svg {
          transform: rotate(8deg);
        }
      }
    }
  }

  &-thumb {
    border-radius: 12px;
  }

  &-info {
    flex: 1;

    h3 {
      font-size: 18px;
    }

    .slug {
      font-size: 14px;
      color: c.$gray;
      margin-top: 4px;
    }
  }
}
