@use "@/styles/fonts" as f;
@use "@/styles/colors" as c;

.home-page {
  padding-bottom: 80px;
  .hero {
    position: relative;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    cursor: default;

    .hero-bg {
      z-index: 1;
      object-fit: cover;
    }

    .hero-content {
      position: absolute;
      z-index: 2;
      bottom: 40px;
      left: 40px;

      h1 {
        font-family: f.$ff-title;
        font-size: 52px;
        font-weight: 700;
        line-height: 56px;
        color: c.$black;

        span {
          display: block;
          color: c.$orange;
        }
      }

      .subtitle {
        margin-top: 32px;
        font-size: 20px;
        color: c.$black-light;
      }

      .hero-btn {
        display: inline-flex;
        gap: 10px;
        font-size: 18px;
        font-weight: 500;
        padding: 14px 20px 14px 24px;
        background-color: c.$orange;
        margin-top: 32px;
        border-radius: 32px;
        transition: all 0.2s ease-in-out;

        &:hover {
          gap: 14px;
          background-color: c.$orange-hover;
        }
      }
    }
  }
}
