@use "@/styles/fonts" as f;
@use "@/styles/colors" as c;
@use "@/styles/breakpoints" as *;

.home-page {
  padding-bottom: 80px;

  .hero {
    position: relative;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    cursor: default;

    @include sm {
      height: 420px;
    }

    .hero-bg {
      z-index: 1;
      object-fit: cover;
    }

    .hero-content {
      position: absolute;
      z-index: 2;
      bottom: 40px;
      left: 40px;

      @include sm {
        bottom: 32px;
        left: 24px;
      }

      h1 {
        font-size: 52px;
        font-weight: 700;
        line-height: 56px;
        color: c.$black;

        @include sm {
          font-size: 32px;
          line-height: 36px;
        }

        span {
          display: block;
          color: c.$orange;
        }
      }

      .subtitle {
        margin-top: 32px;
        font-size: 20px;
        color: c.$black-light;

        @include sm {
          margin-top: 24px;
          font-size: 16px;
        }
      }

      .hero-btn {
        display: inline-flex;
        gap: 10px;
        font-size: 18px;
        padding: 14px 20px 14px 24px;
        margin-top: 32px;
        border-radius: 32px;

        &:hover {
          gap: 14px;
        }
      }
    }
  }

  .suggested {
    margin-top: 40px;

    h2 {
      font-size: 28px;
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 32px;
      column-gap: 24px;
      margin-top: 24px;

      @include md {
        grid-template-columns: repeat(3, 1fr);
      }

      @include sm {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
      }

      @include xs {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
