@use "@/styles/fonts" as f;
@use "@/styles/colors" as c;
@use "@/styles/breakpoints" as *;

.recipe-page {
  padding-bottom: 80px;

  .date {
    font-size: 14px;
    font-weight: 500;
    color: c.$gray;
    margin-bottom: 12px;
  }

  .title {
    font-family: f.$ff-title;
    font-size: 36px;
    color: c.$black;

    @include sm {
      font-size: 24px;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 16px 0;

    &-item {
      font-size: 14px;
      font-weight: 500;
      text-transform: lowercase;
      background-color: c.$orange-light;
      padding: 8px 16px;
      border-radius: 20px;
      cursor: default;
    }
  }

  .lead {
    color: c.$gray;
    margin-top: 8px;

    @include sm {
      font-size: 16px;
    }
  }

  header.hero {
    position: relative;
    width: 100%;
    height: 440px;
    border-radius: 20px;
    margin: 20px 0;
    overflow: hidden;
    cursor: default;

    @include sm {
      height: 260px;
    }
  }

  .content {
    position: relative;
    display: flex;
    gap: 40px;

    @include sm {
      flex-direction: column;
    }

    h2 {
      font-size: 28px;
    }

    .ingredients {
      width: 250px;
      height: max-content;
      position: sticky;
      top: 32px;
      padding: 20px 20px 24px 20px;
      border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

      @include sm {
        width: auto;
        position: relative;
        top: 0;
      }

      h2 {
        color: c.$orange;
      }

      &-list {
        margin-top: 24px;

        p {
          display: flex;
          align-items: flex-start;
          gap: 4px;
          font-size: 15px;
          line-height: 18px;
          margin-bottom: 10px;

          span {
            width: 14px;
            height: 14px;
            padding-top: 2px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .steps {
      flex: 1;

      .steps-list {
        list-style: none;
        counter-reset: step;
        padding: 0;
        margin: 16px 0 0 0;
      }

      .step {
        counter-increment: step;
        display: flex;
        align-items: flex-start;
        gap: 16px;
        line-height: 24px;
        margin-bottom: 24px;

        &::before {
          content: counter(step);
          flex-shrink: 0;
          width: 40px;
          height: 40px;
          background-color: c.$orange-light;
          border-radius: 6px;
          color: c.$orange-hover;
          font-family: f.$ff-title;
          font-size: 20px;
          font-weight: 700;
          line-height: 20px;
          display: grid;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .related {
    margin-top: 48px;

    .related-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 32px;
      column-gap: 24px;
      margin-top: 32px;

      @include sm {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
