@use "@/styles/breakpoints" as *;

.recipe-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 32px;
  column-gap: 24px;
  margin-top: 32px;

  @include md {
    grid-template-columns: repeat(3, 1fr);
  }

  @include sm {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }

  @include xs {
    grid-template-columns: repeat(1, 1fr);
  }
}
