@use "./fonts.scss" as f;
@use "./colors.scss" as c;

body {
  font-family: f.$ff-primary;
  margin: 0;
  color: c.$black;
}

.wrapper,
.wrapper-sm {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
.wrapper-sm {
  max-width: 960px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: f.$ff-title;
}

a,
button {
  font-family: f.$ff-primary;
  color: inherit;
  text-decoration: none;
}
.btn-primary,
.btn-secondary {
  font-size: 16px;
  font-weight: 500;
  background-color: c.$orange;
  color: c.$black;
  padding: 12px 24px;
  border: 0;
  border-radius: 32px;
  outline: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: c.$orange-hover;
  }
}
.btn-secondary {
  background-color: transparent;
  color: c.$orange-hover;
  border: 1px solid c.$orange-hover;

  &:hover {
    color: c.$black;
  }
}

.back-link {
  margin-bottom: 32px;

  a {
    display: inline-flex;
    gap: 8px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: c.$orange;

    &:hover {
      color: c.$orange-hover;
    }
  }
}
