@use "./fonts.scss";
@use "./colors.scss";

body {
  font-family: fonts.$ff-primary;
  margin: 0;
  color: colors.$black;
}

.wrapper,
.wrapper-sm {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
.wrapper-sm {
  max-width: 960px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: fonts.$ff-title;
}

a,
button {
  font-family: fonts.$ff-primary;
  color: inherit;
  text-decoration: none;
}
