@use "@/styles/fonts" as f;
@use "@/styles/colors" as c;

.select-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 10px 12px 10px 16px;
  background-color: c.$white;
  border: 1px solid c.$gray-light;
  border-radius: 8px;
  cursor: pointer;

  &:focus-visible {
    outline: 0;
  }
}

.select-content {
  padding: 6px;
  background-color: c.$white;
  border: 1px solid c.$gray-light;
  border-radius: 8px;
  overflow: hidden;
}

.select-item {
  font-size: 15px;
  font-weight: 500;
  padding: 12px 24px 12px 14px;
  border-radius: 6px;
  cursor: pointer;
  outline: 0;

  &:hover {
    background-color: c.$orange-light;
  }
}
